*{

    margin:0;
    padding:0;
    box-sizing:border-box;

}

html,
body{

    width:100%;
    height:100%;

}

body{

    display:flex;

    justify-content:center;

    align-items:center;

    background:#161616;

    overflow:hidden;

}

.scroll-container{

    width:440px;

    height:956px;

    overflow-y:scroll;

    scroll-snap-type:y mandatory;

    scroll-behavior:smooth;

    border-radius:55px;

    scrollbar-width:none;

}

.scroll-container::-webkit-scrollbar{

    display:none;

}

.page{

    position:relative;

    width:440px;

    height:956px;

    flex-shrink:0;

    scroll-snap-align:start;

}

.page-image{

    position:absolute;

    inset:0;

    width:100%;

    height:100%;

    object-fit:cover;

    z-index:1;

}

.back{

    position: sticky;

    top: 910px;

    left: 25px;

    width: 42px;

    z-index: 9999;

    cursor: pointer;

    transition: transform .25s;

}

.back:hover{

    transform:scale(1.08);

}

.back:active{

    transform:scale(.92);

}
