*{

    margin:0;
    padding:0;
    box-sizing:border-box;

}

html,
body{

    width:100%;
    height:100%;

}

body{

    display:flex;

    justify-content:center;

    align-items:center;

    background:#161616;

    overflow:hidden;

    font-family:sans-serif;

}

.scroll-container{

    width:440px;
    height:956px;

    overflow-y:scroll;

    scroll-snap-type:y mandatory;

    scroll-behavior:smooth;

    scrollbar-width:none;

    border-radius:55px;

    background:#32070B;

}

.scroll-container::-webkit-scrollbar{

    display:none;

}

.page{

    position:relative;

    width:440px;
    height:956px;

    scroll-snap-align:start;

}

.page-image{

    position:absolute;

    inset:0;

    width:100%;
    height:100%;

    object-fit:cover;

    z-index:1;

}

.back{

    position: sticky;

    top: 910px;

    left: 25px;

    width: 42px;

    z-index: 9999;

    cursor: pointer;

    transition: transform .25s;

}

.back:hover{

    transform:scale(1.08);

}

.back:active{

    transform:scale(.92);

}

/* ================= Videos ================= */

.videos{

    position:absolute;

    left:50%;

    display:flex;

    flex-direction:column;

    gap:70px;

    z-index:2;

}

/* الصفحة الأولى */

.page-with-title .videos{

    top:200px;

    transform:translateX(-50%);

}

/* الصفحات الثانية والثالثة والرابعة */

.page-center .videos{

    top:50%;

    transform:translate(-50%,-50%);

}

.video-card{

    position:relative;

    width:180px;

    height:320px;

    scale:1.1;

    border-radius:22px;

    overflow:hidden;

    cursor:pointer;

}

.video{

    width:100%;

    height:100%;

    object-fit:cover;

    display:block;

    border-radius:22px;

    background:black;

}

.play-icon{

    position:absolute;

    top:50%;

    left:50%;

    transform:translate(-50%,-50%);

    width:70px;

    pointer-events:none;

    transition:
        opacity .35s ease,
        transform .35s ease;

}
